* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #293233;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* header styling  */
header {
  text-align: center;
  padding: 2rem;
  border: antiquewhite solid 4px;
  border-radius: 2rem 2rem 0rem 0rem;
}
.title {
  font-size: 2.5rem;
  border-bottom: solid #e0e0e0 2px;
  margin-bottom: 1rem;
}

/* icon */
i {
  font-size: 2rem;
  margin: 1rem 0;
  transition: all 0.4s ease-in-out;
  animation: clickBelow 1s infinite alternate;
}

@keyframes clickBelow {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
