* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #2d32;
  padding: 0.2rem 2rem;
  border-radius: 2rem;
  text-align: center;
}

.text {
  font-size: 3rem;
  font-style: italic;
  border-bottom: 4px solid #111;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

.btn {
  border: none;
  padding: 0.8rem 2rem;
  outline: none;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.btn:hover {
  /* transition: 0.4s all ease-in-out; */
  animation: colors 1.4s infinite alternate;
}
@keyframes colors {
  0% {
    background-color: #e0e0e0;
  }
  20% {
    background-color: lightgreen;
  }
  50% {
    background-color: lightskyblue;
  }
  100% {
    background-color: lightsalmon;
  }
}
.btn:active {
  transform: scale(0.9);
}
