@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  color: #222;
  font-family: 'Poppins' sans-serif;
  overflow: hidden;
}

.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.counter-box {
  margin: 35% 0;
  background-color: lightblue;
  padding: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.title {
  border: 4px #444 dotted;
  border-radius: 4rem;
  margin-bottom: 3rem;
  padding: 2rem;
  color: rgb(21, 112, 21);
  font-weight: 900;
  font-size: 2.5rem;
}

.counter {
  margin: 4rem 0;
}
.count {
  font-size: 5rem;
  color: rgb(21, 112, 21);
}

.btn {
  cursor: pointer;
  margin: 0 2rem;
  font-size: 4rem;
  color: rgb(0, 110, 112);
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  transform: rotate(360deg);
}

.reset-btn {
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  background-color: rgb(0, 110, 112);
  border: none;
  outline: none;
  transform: translateY(-18px);
  border-radius: 2rem;
  cursor: pointer;
  color: lightblue;
}
.reset-btn:active {
  transform: scale(0.95);
}
