* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #234;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  margin: 1rem;
  width: 100%;
}
/* input */
#search {
  padding: 0.8rem 2rem;
  margin: 1rem 0;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-size: 1.4rem;
  width: 60%;
}
/* unordered list */
ul {
  list-style: none;
  margin: 1rem;
  background-color: rgb(44, 66, 88);
  border-radius: 2rem;
  width: 50%;
  margin: auto;
  padding: 1rem 0;
}
ul li {
  line-height: 1.7;
  font-weight: 700;
  font-size: 1.4rem;
  border-bottom: 3px #666 solid;
  padding-bottom: 0.4rem;
  cursor: pointer;
}

ul li:hover {
  transition: all 0.4s ease-in-out;
  opacity: 0.7;
}
ul li:last-child {
  border-bottom: none;
}
