* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #345;
  color: #e0e0e0;
  height: 100vh;
  overflow: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
  text-align: center;
  i {
    font-size: 4rem;
    color: lightblue;
  }

  .counter {
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5rem;
  }

  h4 {
    font-weight: 300;
    font-size: 1.4rem;
  }
}

@media (max-width: 640px) {
  body {
    flex-direction: column;
  }
}
