* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #243;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 20%;
  margin: 2rem;
}
